# Created by https://www.gitignore.io

### Laravel ###
/bootstrap/compiled.php
.env.*.php
.env.php
.env
.env-local
.env-remote
base.zip
laravel-chuleta.txt


laravel-chuleta.rtf
database/migrations/*.php
database/seeds/*.php

vendor/
